[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Packages
Comment=Access the package catalog
Exec=xdg-open https://archlinux.org/Packages
Icon=/usr/share/appstore/icons/package_store.png
Categories=Network;System;Utilities;

